@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

:root {
	--hue: 134deg;
	--mint: hsl(134,91%,80%); /* 134 */
	--dark-mint: hsl(134,71%,60%);
	--blue: hsl(210, 81%, 70%);
	--crema: hsl(54, 81%, 70%);
	--red: hsl(0, 81%, 70%);
	--purple: hsl(280, 81%, 70%);
	--link: hsl(134, 91%, 36%); /* Guardado por si acaso */
	--shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%);
	--act-shadow: 0 0px 0px 0 rgb(0 0 0 / 14%), 0 0px 0px 0 rgb(0 0 0 / 12%), 0 0px 0px -1px rgb(0 0 0 / 20%);
}

*::selection {
	background: var(--mint);
}

circle {
	box-shadow: var(--shadow), inset 0 0 0 3px white;
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: calc(25px / 2);
	margin-right: 5px;
	transform: translateY(5px);
}

img.hue-img {
	filter: hue-rotate(calc(var(--hue) - 134deg));
}

b {
	font-weight: bolder;
}

a[link-color] {
	color: var(--dark-mint);
}

a:not(.block-a)[link-color]:hover::after {
	border-color: var(--dark-mint);
}

a {
	display: inline-block;
	color: black;
	text-decoration: none;
	transition: all .3s ease;
	position: relative;
}

a, a *:not(.block-a-cursor) {
	cursor: alias;
}

a:not(.block-a)::after {
	content: '';
	display: block;
	width: 0;
	left: 50%;
	transition: all 1s ease;
	bottom: calc(10% - 3px);
	position: absolute;
	border-bottom: solid transparent;
}

a:not(.block-a):not(.thin)::after {
	border-width: 2px;
}

a:not(.block-a).thin::after {
	border-width: 1px !important;
	height: 0;
}

a:not(.block-a):hover::after {
	width: 100%;
	left: 0;
	border-color: black;
}

page {
	background: white;
	display: inline-block;
	box-shadow: var(--shadow);
	border-radius: 10px;
	padding: 10px;
	margin: auto auto;
	transform: translateY(-50px);
}

flex {
	display: flex;
	width: 100%;
}

body {
	display: flex;
	padding-top: 210px;
	background-color: white;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Evita que el pseudo-elemento interfiera con el clic en la imagen */
}

topbar {
	background: white;
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    box-shadow: var(--shadow);
    white-space: nowrap;
    padding: 0;
    line-height: 80px;
    z-index: 100;
}

topbar topbarbutton {
	margin: 0;
	font-weight: bolder;
	display: inline-block;
	height: 100%;
	border-radius: 0;
	padding: 0;
	text-align: center;
	border: none;
	max-width: calc(100% / 7);
	width: 100%;
	background: var(--dark-mint);
	color: white;
	font-size: 18px;
	transition: all .3s ease;
	cursor: pointer;
	position: relative;
}

topbar topbarbutton {
	border-right: solid 1px white;
	border-left: solid 1px white;
}

topbar topbarbutton:hover {
	background: transparent;
	color: var(--dark-mint);
}

* {
	font-family: "Lato";
	font-weight: bold;
}

label {
	font-size: 15px;
}

h1:not(.h-nopad) {
	padding-bottom: 25px;
}

h1,h2,h3,h4 {
	text-align: center;
	display: block;
	margin: 5px auto;
}

h1:not(.h-nopad),
h2:not(.h-nopad),
h3:not(.h-nopad),
h4:not(.h-nopad) {
	padding-bottom: auto;
	padding-left: 100px;
	padding-right: 100px;
}

h1::after,
.hunderline::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right,#ccc 15px, var(--dark-mint) 45px, var(--mint) calc(100% - 45px), #ccc calc(100% - 15px));
}

h1 {
	font-size: 50px;
}

* {
	outline: none;
}

centered {
	text-align: center;
	width: 100%;
	display: block;
}

label * {
	width: 100px;
	display: inline-block;
}

label span {
	text-align: right;
	padding-right: 5px;
}

button {
	width: 205px;
	will-change: transform;
}

input,select,button {
	padding: 5px;
	border-radius: 5px;
	border: none;
	background: none;
	margin: 7.5px;
	color: var(--dark-mint);
	box-shadow: var(--shadow);
	transition: all .3s ease;
}

button:hover,select:hover,input:hover {
	background: var(--dark-mint);
	color: white;
}

button:active {
	box-shadow: var(--act-shadow) !important;
	transform: translateY(5px) !important;
}

mini {
	font-size: 10px;
}

.width50 {
	display: inline-block;
	width: calc(50% - 25px);
	padding: 10px;
}

.icon {
	width: 100px;
	height: 100px;
}

.icon-container {
	color: var(--mint);
	margin: 5px;
	display: inline-block;
	width: calc(100% / 5 - 15px);
	transition: all .5s ease;
	cursor: pointer;
}

.icon-container h2 {
	font-size: 25px;
	text-align: center;
	padding: 0;
}

.icon-container:hover {
	transform: scale(1.2);
	filter: saturate(225%);
}

th:first-child {
	border-radius: 5px 0 0 0;
}

th:last-child {
	border-radius: 0 5px 0 0;
}

th,td {
	text-align: center;
	padding: 1px;
}

th {
	padding: 10px;
}

table {
	position: relative;
	border: none;
	border-radius: 5px;
	box-shadow: var(--shadow);
}

.horario {
	width: 100%;
	font-size: 13px;
}

.horario tr {
	height: 60px;
}

tr {
	width: 100%;
}

th {
	background: var(--dark-mint);
	font-weight: bolder;
	color: white;
}

td:not(.empty) {
	background: var(--mint);
}

tr:last-child td:first-child {
	border-radius: auto auto auto 5px;
}

tr:last-child td:last-child {
	border-radius: auto auto 5px auto;
}

td.empty {
	border: none;
	background: white !important;
}

th,td {
	position: relative;
	padding: 8px;
	transition: all .5s ease;
}

th:hover {
	color: var(--dark-mint);
}

td:hover,th:hover {
	background: white !important;
}

td:not(.empty):hover {
	--col: var(--mint);
	box-shadow: inset 0 0 0 5px var(--col);
}

th:hover {
	--col: var(--dark-mint);
	box-shadow: inset 0 0 0 5px var(--col);
}

input[type='checkbox'] {
	outline: none;
	width: auto;
	accent-color: var(--dark-mint);
}

.center-text {
	text-align: center;
}

.child-80-20>* {
	display: inline-block;
	margin: 0;
}

.block {
	display: block;
}

infobutton {
	left: 2vw;
}

creditbutton {
	right: 2vw;
}

infobutton,creditbutton {
	position: fixed;
	bottom: 2vw;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background: white;
	color: var(--dark-mint);
	display: flex;
	font-style: italic;
	transition: all .3s ease;
	font-size: 35px;
	z-index: 1000;
}

infobutton:hover {
	height: 110px;
}

creditbutton:hover {
	height: 125px;
}

infobutton:hover,creditbutton:hover {
	box-shadow: var(--shadow);
	color: white;
}

infobutton flexcontent, creditbutton flexcontent {
	transition: all .3s ease;
	pointer-events: none;
	font-family: serif !important;
	z-index: 1;
	position: absolute;
	width: 60px;
	text-align: center;
	bottom: 10px;
}

infobutton infobtnbg, creditbutton creditbtnbg {
	box-shadow: var(--shadow);
	position: absolute;
	width: 60px;
	height: 60px;
	bottom: 0;
	background: white;
	border-radius: 30px;
	transition: all .3s ease;
}

infobutton:hover infobtnbg, creditbutton:hover creditbtnbg {
	background: var(--dark-mint);
}

infobtndetails, creditbtndetails {
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	transition: all .3s;
	border-radius: 30px;
	padding: 2px;
	padding-top: 15px;
	z-index: -1;
	font-size: 12px;
	color: var(--dark-mint);
}

flexcontent {
	margin: auto;
}

*[customtitle]::after {
	content: attr(customtitle);
	position: absolute;
	left: calc(50% - 100px);
	text-align: center;
	width: 200px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	box-shadow: var(--shadow);
	background: var(--dark-mint);
	padding: 5px;
	border-radius: 3px;
	top: -50px;
}

*[customtitle]::before {
	display: block;
	content: '';
	background: var(--dark-mint);
	position: absolute;
	width: 10px;
	height: 10px;
	left: calc(50% - 5px);
	z-index: -1;
	top: -10px;
	transform: rotate(0) scale(0) translateX(30px) translateY(30px);
}

*[customtitle]::before,*[customtitle]::after {
	color: white;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
	transition: opacity .5s ease, transform 1s ease;
	font-size: 25px !important;
}

*[customtitle]:hover::before,*[customtitle]:hover::after {
	opacity: 1;
}

*[customtitle]:hover::before {
	transform: rotate(45deg) scale(1.0) translateY(-6px);
}

*[customtitle] {
	position: relative !important;
	display: inline-block;
}

notif {
	position: fixed;
	bottom: 15px;
	background: red;
	display: block;
	padding: 10px;
	left: 115px;
	width: calc(100% - 245px);
	height: 65px;
	border-radius: 15px;
	background: white;
	box-shadow: 0 3px 10px 5px rgba(0, 0, 0, .2);
	transition: all .8s ease;
	padding-top: 55px;
	z-index: 1000;
}

notif p {
	font-size: 30px;
	background: var(--dark-mint);
	left: 0;
	text-align: center;
	top: -30px;
	color: white;
	padding: 5px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	position: absolute;
	width: calc(100% - 10px);
	pointer-events: none;
}

.all-left * {
	text-align: left;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg) scale(1);
	}
	50% {
		transform: rotate(180deg) scale(.8);
	}
	100% {
		transform: rotate(360deg) scale(1);
	}
}

loading {
	display: inline-block;
	background: red;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background: linear-gradient(30deg, var(--mint), var(--dark-mint));
	box-shadow: var(--shadow), inset var(--shadow);
	animation: rotate 3s infinite ease;
}

loading::before {
    content: '';
    display: block;
    position: absolute;
    width: 80%;
    height: 80%;
    background: white;
    top: 10%;
    left: 10%;
    border-radius: 100%;
    box-shadow: var(--shadow), inset var(--shadow);
}

.rounded-child {
	position: relative;
	box-shadow: var(--shadow);
	background: white;
	min-height: 20px;
	border-radius: 5px;
	padding: 5px;
}

.rounded-child * {
	z-index: 10;
	position: relative;
}

.rounded-child::after {
	z-index: 0 !important;
	content: 'Ez dago ezer hemendik';
	color:#ccc;
	position: absolute;
	top: 5px;
	text-align: center;
	width: 100%;
}

.rounded-child > *:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.rounded-child > *:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.mid {
	width: 40vw;
	box-shadow: 0 5px 15px 5px rgba(0, 0, 0, .2);
	padding: 10px;
	border-radius: 10px;
}

.big {
	font-size: 35px;
}

.logo {
	position: relative;
}

.logo * {
	transition: all 2s cubic-bezier(.44,1.8,.44,.83);
	pointer-events: none;
}

.logo span {
	background: -webkit-linear-gradient(var(--mint), var(--dark-mint));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 15vw;
	font-family: 'Righteous';
	letter-spacing: 20px;
	position: absolute;
	text-transform: uppercase;
	width: 0;
	display: inline-block;
	overflow: hidden;
	right: -10px;
}

.logo:hover span {
	width: 67.5%;
}

.logo:hover img {
	transform: rotate(130deg);
	right: 67.5% !important;
}

#configuration {
	padding-left: 5px;
}

.asignaturas {
	width: 100%;
	column-count: 3;
	gap: 10px;
}

.asignaturas > div {
	break-inside:avoid;
	box-shadow: var(--shadow);
	padding: 5px;
	min-height: 50px;
	width: calc(100% - 10px);
	border-radius: 5px;
	position: relative;
	vertical-align: top;
	padding-top: 35px;
	max-height: 600px;
	transition: all 5s ease;
	margin-bottom: 10px;
}

.asignaturas > div > div {
	overflow-y: auto;
	max-height: 550px;
}

.asignaturas > div > div * {
	vertical-align: bottom !important;
	max-width: 100%;
	border: none;
}



.asignaturas > div h3:not(.custom) {
	z-index: 1000;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: absolute;
	width: 100%;
	background: var(--dark-mint);
	color: white;
	font-size: 25px;
	padding-bottom: 5px;
	left: 0;
	top: -5px;
	border-radius: 5px 5px 0 0;
}
.warning-after {
	position: relative;
}

.warning-after::before {
	content: '';
	width: 15px;
	height: 15px;
	position: absolute;
	background-image: url('assets/warning.svg');
	background-size: cover;
	top: -5px;
	right: -5px;
	z-index: 1;
}

.warning-after::after {
	content: '';
	width: 3px;
	height: 10.5px;
	position: absolute;
	background: white;
	border-radius: 2px;
	top: -3px;
	right: 1px;
	z-index: 0;
}

.customlink::after {
	content: '';
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 21px;
	height: 17px;
	background-image: url('assets/link.svg');
	filter: hue-rotate(var(--hue));
	background-size:cover;
	transition: all .5s ease;
	transform: translateY(0px);
}

.customlink:hover::after {
	filter: hue-rotate(var(--hue)) brightness(.5);
}

.customlink:has(button:active)::after {
	transform: translateY(5px);
}

.service {
	transition: all .5s ease;
	box-shadow: var(--shadow);
	margin: 0 10px 0 10px;
	border-radius: 5px;
	display: flex;
	padding: 5px;
	height: 70px;
}

.service > img {
	display: inline-block;
	margin: 0;
	height: 100%;
	padding: 0;
}

.service > div {
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 0;
}

.service > div > h2 {
	font-size: 24px;
}

.service > div > h4 {
}

.service:hover {
	transform: translateY(-10px);
	box-shadow: var(--shadow);
}

.card {
	box-shadow: var(--shadow);
	border-radius: 15px;
	padding: 10px;
}